<p>event works!</p>
<p (click)="minhafunc()">Clique aqui</p>

<button (click)="somar()">Somar</button>
<br>
<button (click)="subtrair(1,2)">Menos</button>
<br>
<button (click)="multiplicar()">Multiplicar</button>
<br>
<button (click)="dividir()">Dividir</button>
<br>
{{resultado}}
<br>
<img src="https://www.bebidaonline.com.br/media/catalog/product/cache/1/thumbnail/800x/99cfa2db909aa8be0aba7059fa3f7550/b/o/bo7982.jpg"
    alt="" [width]="tamanho">

<button (click)="aumentar()"> Aumentar</button>
<button (click)="diminuir()"> Diminuir</button>